* {
    font-family: 'Almendra', serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/* Generales */

.blk-icons {
    color: black;
}

img {
    width: 100%;
}

.icon-img {
    width: 48%;
    display: flex;
}

.imgw {
    padding: 10%;
}

h1 {
    font-family: 'Almendra', serif;
    font-size: 3em;
    letter-spacing: 12px;
}

h2 {
    font-family: 'Baskervville', serif;
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    letter-spacing: 7px;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.4em;
}

.parrafo {
    font-family: 'Baskervville', serif;
    font-size: 1.3em;
}

.toolbar-inner a {
    width: 20%;
}

.boton {
    font-family: 'Baskervville', serif;
    text-transform: capitalize;
    font-size: 1.5em;
    padding: 22px 60px;
    font-weight: 100;
    border-radius: 6px;
    box-shadow: 0.2px 0.2px 0.1px rgb(46, 46, 46);
    background-color: #CEAEE2;
}

.big {
    text-transform: none;
    font-size: 1.65em;
    padding: 40px 60px;
}

.boton:active {
    background-color: rgb(49, 49, 49);
}

.fieldbox {
    margin-bottom: 24px;
    padding: 10px 0px;
    background-color: rgba(206, 174, 226, 0.29);
    border-radius: 6px;
}

.fieldbox input {
    margin-left: 9px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
}

.fieldbox input:focus {
    outline: none;
    background-color: transparent;
}

.fieldbox input:active {
    background-color: transparent;
}

input::placeholder {
    color: rgb(49, 49, 49, 0.29);
    letter-spacing: 5px;
}

.fieldbox textarea {
    margin-left: 9px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
}

textarea::placeholder {
    color: rgb(49, 49, 49, 0.29);
    letter-spacing: 5px;
}


/* PAGINADOR */

.paginador {
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.paginador a h5 {
    text-align: center;
    font-family: 'Almendra', serif;
    font-family: 'Baskervville', serif;
    font-size: 5em;
    color: black;
}


/* App */

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

.row {
    flex-wrap: nowrap;
    justify-content: center;
}

.row-1 {
    display: flex;
    justify-content: center;
}

.deco-col {
    align-self: flex-end;
    margin-bottom: 115px;
    width: 19%;
}

.main-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    width: 100%;
}

.wel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 60%;
}

.content-center {
    margin: 0 13%;
}

.fullcenter {
    height: 100%;
    justify-content: center;
    margin-top: 0px;
}

.top {
    margin-top: -15px;
}

.fulltop {
    margin-top: -60px;
}

.square {
    margin-top: 45px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ancho {
    width: 100%;
}

.square-leyenda {
    width: 100%;
}

.medio {
    width: 75%;
    height: 100px;
}

.box-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.square-text {
    position: relative;
    bottom: 24px;
}

.square-text h2 {
    padding: 0 5%;
    text-align: center;
}

.square-title {
    position: relative;
    bottom: 30px;
    background-color: #ffffff;
    padding-left: 10px;
}

.square-img {
    position: relative;
    bottom: 70px;
}

.square-icon {
    position: relative;
    bottom: 9px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0 6px;
}

.square-icon-large {
    padding: 0 55px;
    background-color: #efeff4;
}

.square-icon i {
    font-size: 16px;
}


/* registro */

.registro-titulo {
    display: flex;
}

.letras-juntas {
    letter-spacing: -3px;
}

.registro {
    margin-top: 25px;
}

form {
    width: 70%;
}


/*bienvenida*/

#hoja-left {
    transform: rotate(-50deg);
    position: relative;
    right: 31px;
}

#hoja-right {
    transform: rotate(-50deg);
    position: relative;
    left: 37px;
}

.titulo {
    font-size: 2.7em;
    letter-spacing: 0;
    text-align: center;
}

.subtitulo {
    font-size: 2.2em;
    letter-spacing: 0;
}

.subtitulo-center {
    font-size: 2.2em;
    letter-spacing: 0;
    text-align: center;
}

.sepamos-cabecera {
    display: flex;
    justify-content: space-around;
}

.decos {
    position: relative;
    bottom: 100px;
}

.imgd {
    width: 20%;
}

#sepamos {
    width: 40%;
}

.imgp {
    width: 40%;
}

#personalizate {
    width: 60%;
}

#listoaprender {
    width: 100%;
}


/*inicio*/

.panel {
    background-color: #CEAEE2;
}

.block .list ul {
    background-color: #CEAEE2;
}

.toolbarstyle {
    border-top: 2px solid rgb(0, 0, 0);
    padding: 31px 0;
}

#hamburger-icon {
    padding: 15px;
    margin: 0;
    position: relative;
    z-index: 5;
}

#hamburger-box {
    width: max-content;
}

#inicio {
    font-size: 4em;
}

#esoterismo {
    font-size: 2em;
    margin-bottom: 8px;
}

.item-2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 7%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.item-2:active {
    color: #CEAEE2;
}

.item-1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.item-1:active {
    color: #CEAEE2;
}


/* descubre */

#descubre-esotersimo {
    font-size: 3.5em;
}


/* amuletos */

.imgh {
    width: 115%;
    position: relative;
    bottom: 94px;
}

.circle {
    width: 245px;
    height: 245px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #CEAEE2;
}

.circle-mid {
    width: 160px;
    height: 160px;
    position: relative;
    top: 60px;
    right: 85px;
}

.circle-small {
    width: 68px;
    height: 68px;
    position: relative;
    left: 15px;
}

.circle-small-2 {
    width: 38px;
    height: 38px;
    position: relative;
    bottom: 90px;
    right: -25px;
}

.circle-small-3 {
    width: 18px;
    height: 18px;
    position: relative;
    bottom: 114px;
    right: 28px;
}

.deco-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.deco-row .col-left {
    width: 30%;
    align-self: flex-end;
}

.deco-row .col-right {
    width: 69%;
}

.col-right .circle-big {
    position: relative;
    bottom: 140px;
}

.col-right .row {
    justify-content: right;
    margin-right: 7%;
}

.content {
    position: relative;
    bottom: 230px;
    width: 86%;
}

.grid {
    display: flex;
}

.col-1 {
    width: 50%;
}

.col-2 {
    width: 50%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    margin-bottom: 20%;
    width: 66%;
    height: 80px;
    padding: 0 13px;
    font-size: 1.6em;
    text-align: center;
    text-decoration-line: underline;
}

#estrella {
    font-size: 1.5em;
}

.row-1 {
    color: black;
}

@media (max-width: 396px) {
    .item {
        font-size: 1.2em;
    }
}

.deco-down {
    display: flex;
    position: relative;
    bottom: 140px;
    width: 100%;
    justify-content: flex-end;
}


/* moneda china */

.deco-hoja-up {
    align-self: flex-end;
    margin-right: 20px;
}

#p-tarot {
    margin: 0;
}


/* horoscopo */

.horoscopo {
    width: 80%;
}

.col-1 a {
    margin: 0 13px 19px 0;
}

.col-2 a {
    margin: 0 0 19px 13px;
}

#square-img-horoscopo {
    position: relative;
    bottom: 20px;
    padding: 0 8px;
}

#signos {
    font-size: 2.5em;
    letter-spacing: 1px;
    text-align: center;
    padding: -10px;
    font-weight: 300;
    background-color: transparent;
}

.square-icon-large-h {
    padding: 0 22px;
    top: -75px;
}

.dark-theme {
    border-color: rgb(255, 255, 255);
    background-color: black;
    color: white;
}

.dark-text {
    color: black;
}


/* horoscopo aries, tauro, etc..*/

.square .parrafo {
    font-size: 1.28em;
    padding: 0px 20px;
}

.square-fecha {
    position: relative;
    top: -13px;
    font-size: 1.1em;
}


/* ajustes */

div a h4 {
    margin-left: 25px;
}

.ajustes {
    color: black;
    margin-bottom: 16px;
    font-size: 1.8em;
}